.logo {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.173;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header__logo {
  color: var(--primari-text-color);
}
.logo__web {
  color: var(--accent-color);
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primari-white-color);
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
