:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primari-white-color: #ffffff;
  --bg-hero-color: #2f303a;
  --bg-command-color: #f5f4fa;
  --bg-hero-button-color: #188ce8;
  --footer-item-color: rgba(255, 255, 255, 0.6);
  --command-card-color: #eeeeee;
  --hero-linear-gradient: rgba(47, 48, 58, 0.4);
  --footer-bg-icon: rgba(255, 255, 255, 0.1);
  --icons-color: #afb1b8;
  --bg-portfolio-card: rgba(33, 150, 243, 0.9);
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
}
